{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - show_product_info: {Boolean} Show the product info
    - show_vendor: {Boolean} Show the product vendor.
    - show_color_swatch: {Boolean} Show the product color swatch.
    - show_labels: {Boolean} Show the labels.

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="ws--product-item text-center">
    {%- if card_product.media[1] != blank -%}
        {%- assign has_alternate_image = true -%}
    {%- else -%}
        {%- assign has_alternate_image = false -%}
    {%- endif -%}
    <div class="ws--product-item-wrapper">
        <div class="ws--product-item-img-wrapper">
            <a href="#" class="{%- if has_alternate_image -%}ws--product-item-img-hover-switch{%- endif -%}">
                {%- assign max_width = card_product.featured_media.preview_image.width -%}
                {%- assign media_aspect_ratio = card_product.featured_media.aspect_ratio | default: card_product.featured_media.preview_image.aspect_ratio -%}

                <div class="ws--aspect-ratio ws--aspect-ratio-with-fallback" style="max-width: {{ max_width }}px; padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%; --aspect-ratio: {{ media_aspect_ratio }}">
                    {%- assign featured_media = card_product.featured_media | image_url: width: 533 -%}
                    <img class="ws--product-item-img ws--image-lazy-load ws--image-fade-in" src="{{ card_product.featured_media | image_url: width: 533 }}" data-src="{{ featured_media }}" alt="{{ card_product.featured_media.alt | escape }}" data-lazy loading="lazy" />
                    
                    {%- if has_alternate_image -%}
                        {%- assign image_url = card_product.media[1] | image_url: width: 533 -%}
                        <img class="ws--product-item-img ws--product-item-img-alternate ws--image-lazy-load ws--image-fade-in" src="{{ card_product.media[1] | image_url: width: 533 }}" data-src="{{ image_url }}" alt="{{ card_product.media[1].alt | escape }}" data-lazy loading="lazy" />
                    {%- endif -%}

                    <noscript>
                        <img class="ws--product-item-img" src="{{ card_product.featured_media| image_url: width: 600 }}" alt="{{ card_product.featured_media.alt | escape }}" loading="lazy" />
                        <img class="ws--product-item-img ws--product-item-img-alternate" src="{{ card_product.media[1] | image_url: width: 600 }}" alt="{{ card_product.media[1].alt | escape }}" loading="lazy" />
                    </noscript>
                </div>
            </a>
            {%- if show_labels -%}
                {%- capture product_labels -%}
                    {%- for tag in card_product.tags -%}
                        {%- if tag contains '__label' -%}
                            <span class="text-uppercase fw-normal">{{ tag | split: '__label:' | last }}</span>
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {%- if card_product.available -%}
                        {%- if card_product.compare_at_price > card_product.price -%}
                            <span class="text-uppercase fw-normal">{{ 'product.labels.on_sale' | t }}</span>
                        {%- endif -%}
                    {%- else -%}
                        <span class="text-uppercase fw-normal">{{ 'product.labels.sold_out' | t }}</span>
                    {%- endif -%}
                {%- endcapture -%}

                {%- if product_labels != blank -%}
                    <div class="ws--product-lavel">
                        {{ product_labels }}
                    </div>
                {%- endif -%}
            {%- endif -%}
        </div>

        {%- if show_product_info -%}
            <div class="ws--product-info mt-7">
                {%- if show_vendor -%}
                    <p class="ws--product-vendor ws--heading mb-2">{{ card_product.vendor }}</p>
                {%- endif -%}
    
                <div class="ws--product-title ws--heading">
                    <a href="{{ card_product.url | within: collection }}">
                        <h2>{{ card_product.title }}</h2>
                    </a>
                </div>
    
                {%- if show_price_on_hover == nil -%}
                    {% comment %} {%- assign show_price_on_hover = settings.product_show_price_on_hover -%} {% endcomment %}
                    {%- assign show_price_on_hover = true -%}
                {%- endif -%}
    
                <div class="ws--product-price-list {% if show_price_on_hover %}ws--product-price-list-show-on-hover{% endif %} Heading">
                    {%- if card_product.compare_at_price > card_product.price -%}
                        <span class="ws--product-price ws--price-highlight ws--text-light">{{ card_product.price | money_without_trailing_zeros }}</span>
                        <span class="ws--product-price ws--price-compare-at ws--text-light">{{ card_product.compare_at_price | money_without_trailing_zeros }}</span>
                    {%- elsif card_product.price_varies -%}
                        {%- capture formatted_min_price -%}{{ card_product.price_min | money_without_trailing_zeros }}{%- endcapture -%}
                        {%- capture formatted_max_price -%}{{ card_product.price_max | money_without_trailing_zeros }}{%- endcapture -%}
                        <span class="ws--product-price ws--text-light">{{ 'collection.product.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
                    {%- else -%}
                        <span class="ws--product-price ws--text-light">{{ card_product.price | money_without_trailing_zeros }}</span>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
    </div>
</div>