{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <div class="ws--pagination my-12">
    <nav role="navigation">
      <ul class="pagination justify-content-center">
      {%- if paginate.previous -%}
        <li class="page-item">
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="page-link border-0" tabindex="-1" aria-disabled="true">
            {%- render 'icon' with 'select-arrow-left' -%}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="page-item"><a class="page-link" href="{{ part.url }}{{ anchor }}">{{ part.title }}</a></li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="page-item is-active"><a class="page-link">{{ part.title }}</a></li>
          {%- else -%}
            <li class="page-item"><span class="page-link">{{ part.title }}</span></li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="page-item">
          <a href="{{ paginate.next.url }}{{ anchor }}" class="page-link">
            {%- render 'icon' with 'select-arrow-right' -%}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
