{%- assign product = all_products[section.settings.product] -%}

{%- capture section_settings -%}
{
  "enableHistoryState": false,
  "usePlaceholder": {% if product == empty %}true{% else %}false{% endif %},
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {{ section.settings.show_inventory_quantity | json }},
  "showSku": {{ section.settings.show_sku | json }},
  "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
  "showPriceInButton": {{ section.settings.show_price_in_button | json }},
  "showPaymentButton": {{ section.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="py-12" data-section-id="{{ section.id }}" data-section-type="featured-product" data-section-settings='{{ section_settings }}'>
    <div class="container">
        <!-- heading -->
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <div class="row mb-4">
                <div class="col-lg-12">
                    {%- if section.settings.subheading != blank -%}
                        <h6 class="ws--heading ws--h6 mb-5 text-center text-gray-400">
                            {{ section.settings.subheading | escape }}
                        </h6>
                    {%- endif -%}
                    {%- if section.settings.title != blank -%}
                        <h2 class="ws--heading ws--h2 mb-10 text-center">
                            {{ section.settings.title | escape }}
                        </h2>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
        <!-- heading -->
        {%- if product != empty -%}
            <!-- details part Start============-->
            <div class="ws--featured-product ws--featured-product-center">
                <!-- product image part-->
                <a href="{{ product.url }}" class="ws--featured-product-gallery">
                  <div class="product_large_img">
                    <img 
                      src="{{ product.featured_media.preview_image | image_url }}"
                      data-src="{{ product.featured_media.preview_image | image_url }}"
                      alt="{{ product.title }}" loading="lazy" class="card-img-top" data-lazy
                    />
                  </div>
                </a>
                <!-- product image part-->
                <!-- details part-->
                <div class="ws--featured-product-details">
                    <div class="product_details">
                      <div class="product_details_top">
                          <!-- title -->
                          <div class="product_details_title">
                            {%- if section.settings.show_vendor and product.vendor != blank -%}
                                <h6 class="ws--heading ws--h6 mb-6 text-gray-400">
                                  {%- assign vendor_handle = product.vendor | handle -%}
                                  {%- assign collection_for_vendor = collections[vendor_handle] -%}
                            
                                  {%- unless collection_for_vendor.empty? -%}
                                    <a href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
                                  {%- else -%}
                                    {{- product.vendor -}}
                                  {%- endunless -%}
                                </h6>
                            {%- endif -%}
                            <h2 class="ws--heading ws--h2">
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </h2>
                          </div>
                        {%- if section.settings.show_sku and product.selected_or_first_available_variant.sku != blank -%}
                          <p class="ws--heading ws--h6">{{ 'product.form.sku' | t }}: <span class="ws--product-sku-number">{{ product.selected_or_first_available_variant.sku }}</span></p>
                        {%- endif -%}
                      </div>
                      <!-- product_pricing -->
                      <div class="product_pricing">
                        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                          <span class="text-danger">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                          <span class="sale-price line-through">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
                        {%- else -%}
                          <span class="sale-price">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
                        {%- endif -%}
                      </div>
                      {%- render 'product-form', product: product -%}
                    </div>
                </div>
            </div>
            <!-- details part end============-->
        {%- else -%}
            <div class="ws--featured-product ws--featured-product-center">
                <!-- product image part-->
                <div class="ws--featured-product-gallery">
                  <div class="product_large_img">
                      <div class="card-img-top mb-4">
                          {{- 'product-1' | placeholder_svg_tag -}}
                      </div>
                  </div>
                </div>
                <!-- product image part-->
                <!-- details part-->
                <div class="ws--featured-product-details">
                  <div class="product_details_top">
                      <!-- title -->
                      <div class="product_details_title">
                          {%- if section.settings.show_vendor -%}
                              <h6 class="ws--heading ws--h6 mb-6 text-gray-400">
                                  {{ 'home_page.onboarding.vendor_title' | t }}
                              </h6>
                          {%- endif -%}
                          <h2 class="ws--heading ws--h2">
                              {{ 'home_page.onboarding.product_title' | t }}
                          </h2>
                      </div>
                  </div>
                  <!-- product_pricing -->
                  <div class="product_pricing">
                      <span class="sale_price">{{ 9500 | money_without_trailing_zeros }}</span>
                  </div>
                  <!-- product_color -->
                  <div class="ws--product-inventory my-5">
                      {%- if section.settings.show_inventory_quantity -%}
                        <p class="ws--heading ws--h6 ws--heading-capitalize">
                          {%- if section.settings.inventory_quantity_threshold == 0 -%}
                            {{- 'product.form.inventory_quantity_count' | t: count: 5 -}}
                          {%- else -%}
                            {{- 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold -}}
                          {%- endif -%}
                        </p>
                      {%- endif -%}
                  </div>
                  <!-- product_color -->
                  <!-- product_quantity -->
                  <div class="product_quantity">
                      <div class="product_cart_btn">
                          <div class="cart_submit_btn">
                              <button type="submit"  class="ws--btn ws--btn-primary ws--btn-full">
                                  <span>ADD TO CART</span>
                                  {%- if section.settings.show_price_in_button -%}
                                    <span class="ws--btn-separator-dot"></span>
                                    <span>{{ 9500 | money_without_trailing_zeros }}</span>
                                  {%- endif -%}
                              </button>
                          </div>
                      </div>
                      <div class="ws--view-featured-product-btn">
                        <a href="#">View Product Details</a>
                      </div>
                  </div>
                </div>
                <!-- details part end============-->
            </div>
        {%- endif -%}
    </div>
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "checkbox",
      "id": "show_headings_on_mobile",
      "label": "Show headings on mobile",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_below_add_to_cart",
      "label": "Description below add to cart",
      "default": false
    },
    {
      "type": "select",
      "id": "selector_mode",
      "label": "Selector type",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? Try disabling this option.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_carousel",
      "label": "Show color carousel",
      "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
      "default": false
    },
    {
      "type": "range",
      "id": "inventory_quantity_threshold",
      "label": "Inventory quantity threshold",
      "min": 0,
      "max": 50,
      "step": 1,
      "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_price_in_button",
      "label": "Show price in add to cart button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured product"
    }
  ]
}
{% endschema %}