<section data-section-id="reset-password" data-section-type="reset-password">
    <div class="container">
        <div  class="ws--page-content ws--page-content-fit-screen ws--page-content-extra-narrow">
            {%- comment -%}
            --------------------------------------------------------------------------------------------------------------------
            CUSTOMER RESET PASSWORD FORM - START
            --------------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}
            {%- form 'reset_customer_password', class: 'ws--form', id: 'reset_customer_password' -%}
                <div class=" ws--form-heading text-center mb-6">
                  <h2 class="ws--h1 ws--heading">{{ 'customer.reset_password.title' | t }}</h2>
                  <p  class="ws--text mt-3">{{ 'customer.reset_password.description' | t }}</p>
                </div>
                {% if form.errors %}
                    {%- for field in form.errors -%}
                        {%- if field == 'form' -%}
                            <div class="alert alert-danger d-flex align-items-center mb-3" role="alert">
                                {{ form.errors.messages[field] }}
                            </div>
                        {%- else -%}
                            <div class="alert alert-danger d-flex align-items-center mb-3" role="alert">
                                <strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                {% endif %}
                <div class="ws--form-item">
                    <input type="password" name="customer[password]" class="form-control" placeholder="{{ 'customer.reset_password.password' | t }}" required autofocus>
                </div>
                <div class="ws--form-item">
                    <input type="password" name="customer[password_confirmation]" class="form-control" placeholder="{{ 'customer.reset_password.password_confirmation' | t }}" required>
                </div>
                <div class="ws--login-btn">  
                  <button type="submit" class="ws--btn ws--btn-primary ws--btn-full">{{ 'customer.reset_password.submit' | t }}</button>
                </div>
            {%- endform -%}
        </div>
    </div>
</section>