{% comment %}
    /* All Script Loaded Here */
{% endcomment %}
<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'collapsible-tab.js' | asset_url }}" defer="defer"></script>
{%- if section.settings.enable_image_zoom == true -%}
    <script src="{{ 'fslightbox.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section class="{% if section.settings.image_size == 'fill' %}ws--container{% else %}container{% endif %} my-10">
    <div class="ws--product-wrapper ws--product-{{ section.settings.image_size }}{% if section.settings.enable_sticky == true %} ws--sticky-section{% endif %}">
      <!-- All the content goes here. -->
       <div class="row">
            <div class="{% if section.settings.image_size == 'fill' %}col-lg-9{% else %}col-lg-8{% endif %}">
                {%- assign media_count = 0 -%}
                <media-gallery class="ws--media-wrapper">
                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                    <div class="ws--thumbnail-media">
                        <ul class="ws--thumbnail-list" data-thumbnail-list="product-{{ section.settings.image_layout }}">
                            {%- if featured_media != null -%}
                                <li class="ws--thumbnail-item active" data-thumbnail-item="media-{{ featured_media.id }}">
                                    <a href="#media-{{ featured_media.id }}" data-media-href>
                                        <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                                            srcset="{% if featured_media.preview_image.width >= 59 %}{{ featured_media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                                                    {% if featured_media.preview_image.width >= 118 %}{{ featured_media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                                                    {% if featured_media.preview_image.width >= 84 %}{{ featured_media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                                                    {% if featured_media.preview_image.width >= 168 %}{{ featured_media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                                                    {% if featured_media.preview_image.width >= 130 %}{{ featured_media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                                                    {% if featured_media.preview_image.width >= 260 %}{{ featured_media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                                            src="{{ featured_media | image_url: width: 84, height: 84 }}"
                                            sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
                                            alt="{{ featured_media.alt | escape }}"
                                            height="200"
                                            width="200"
                                            loading="lazy"
                                        >
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- for media in product.media -%}
                                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                                    <li class="ws--thumbnail-item" data-thumbnail-item="media-{{ media.id }}">
                                        <a href="#media-{{ media.id }}" data-media-href>
                                            <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                                                srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                                                        {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                                                        {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                                                        {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                                                        {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                                                        {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                                                src="{{ media | image_url: width: 84, height: 84 }}"
                                                sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
                                                alt="{{ media.alt | escape }}"
                                                height="200"
                                                width="200"
                                                loading="lazy"
                                            >
                                        </a>
                                    </li>
                                {%- endunless -%}
                                {%- assign media_count = media_count | plus: 1 -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="ws--slider-media ws--{{ section.settings.image_layout }}-media" data-media-wrapper>
                        <ul class="ws--slider-list" data-media-list="product-{{ section.settings.image_layout }}">
                            {%- if featured_media != null -%}
                                <li id="media-{{ featured_media.id }}" class="ws--slider-item active" data-media-item="media-{{ featured_media.id }}">
                                    {% render 'preview-image', media: featured_media, lazy_load: false, enable_zoom: section.settings.enable_image_zoom %}
                                </li>
                            {%- endif -%}
                            {%- for media in product.media -%}
                                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                                    <li id="media-{{ media.id }}" class="ws--slider-item" data-media-item="media-{{ media.id }}">
                                        {%- liquid
                                            assign media_position = media_position | default: 0 | plus: 1
                                            assign lazy_load = false
                                            if media_position > 1
                                            assign lazy_load = true
                                            endif
                                            render 'preview-image', media: media, lazy_load: lazy_load, enable_zoom: section.settings.enable_image_zoom
                                        %}
                                    </li>
                                {%- endunless -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                    {%- if media_count > 1 -%}
                        {%- comment -%}
                          IMPLEMENTATION NOTE: Shopify requires to add arrows next to the dot.
                        {%- endcomment -%}
              
                        <div class="ws--slider-mobile-nav ws--hidden-desktop" data-media-dots>
                          <button class="ws--nav-arrow ws--nav-arrow-previous" type="button" data-media-dot-prev>
                            {% render 'icon' with 'media-arrow-left' %}
                          </button>
              
                          <div class="ws--slider-dots">
                            {%- if featured_media != null -%}
                                <button type="button" class="ws--slider-dot is-selected" data-media-dot="media-{{ featured_media.id }}"></button>
                            {%- endif -%}
                            {%- for media in product.media -%}
                                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                                    <button type="button" class="ws--slider-dot" data-media-dot="media-{{ media.id }}"></button>
                                {%- endunless -%}
                            {%- endfor -%}
                          </div>
              
                          <button class="ws--nav-arrow ws--nav-arrow-next" type="button" data-media-dot-next>
                            {% render 'icon' with 'media-arrow-right' %}
                          </button>
                        </div>
                      {%- endif -%}
                </media-gallery>
            </div>
            <!-- ws--product-details -->
            <div class="{% if section.settings.image_size == 'fill' %}col-lg-3{% else %}col-lg-4{% endif %}">
                <div class="ws--product-info">
                    {%- assign product_form_id = 'product-form-' | append: section.id -%}

                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {%- when '@app' -%}
                            {% render block %}
                        {%- when 'text' -%}
                            <p class="ws--product-text{% if block.settings.text_style == 'uppercase' %} ws--product-text-uppercase{% elsif block.settings.text_style == 'subtitle' %} ws--product-subtitle{% endif %}" {{ block.shopify_attributes }}>
                                {{- block.settings.text -}}
                            </p>
                        {%- when 'title' -%}
                            <div class="ws--product-title" {{ block.shopify_attributes }}>
                                <h3>{{ product.title | escape }}</h3>
                            </div>
                        {%- when 'sku' -%}
                            {%- if product.selected_or_first_available_variant.sku != blank -%}
                                <p class="ws--product-sku ws--heading ws--h6 ws--text-light" {{ block.shopify_attributes }}>
                                    {{ 'product.form.sku' | t }}: {{ product.selected_or_first_available_variant.sku }}
                                </p>
                            {%- endif -%}
                        {%- when 'price' -%}
                            <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                                {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'ws--price-large' -%}
                            </div>
                            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                                <div class="ws--product-tax rte">
                                  {%- if shop.taxes_included -%}
                                    {{ 'product.general.include_taxes' | t }}
                                  {%- endif -%}
                                  {%- if shop.shipping_policy.body != blank -%}
                                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                                  {%- endif -%}
                                </div>
                            {%- endif -%}
                            <div {{ block.shopify_attributes }}>
                                {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                                {%- form 'product', product, id: product_form_installment_id, class: 'ws--installment' -%}
                                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                  {{ form | payment_terms }}
                                {%- endform -%}
                            </div>
                        {%- when 'description' -%}
                            {%- if product.description != blank -%}
                                <div class="ws--product-description rte">
                                    {{ product.description }}
                                </div>
                            {%- endif -%}
                        {%- when 'custom_liquid' -%}
                            {{ block.settings.custom_liquid }}
                        {%- when 'collapsible_tab' -%}
                            <div class="ws--product-accordion ws--accordion" {{ block.shopify_attributes }}>
                                <details id="Details-{{ block.id }}-{{ section.id }}">
                                    <summary>
                                        <div class="ws--summary-title">
                                        {% render 'icon-accordion', icon: block.settings.icon %}
                                        <h2 class="ws--heading ws--h4 ws--accordion-title">
                                            {{ block.settings.heading | default: block.settings.page.title }}
                                        </h2>
                                        </div>
                                        {% render 'icon', icon: 'arrow-bottom' %}
                                    </summary>
                                    <div class="ws--accordion-content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                                        {{ block.settings.content }}
                                        {{ block.settings.page.content }}
                                    </div>
                                </details>
                            </div>
                        {%- when 'quantity_selector' -%}
                            <div class="ws--product-form-quantity" {{ block.shopify_attributes }}>
                                <label class="form__label" for="Quantity-{{ section.id }}">
                                    {{ 'product.form.quantity' | t }}
                                </label>
                                <div class="quantity" data-action="quantity-increment">
                                    <div class="value-button decrease-qty" value="-" data-action="decrement">{% render 'icon' with 'minus' %}</div>
                                    <input type="text" id="Quantity-{{ section.id }}" class="qty-input" pattern="[0-9]*" name="quantity" value="1" form="{{ product_form_id }}" data-action="quantity" />
                                    <div class="value-button increase-qty" value="+" data-action="increment">{% render 'icon' with 'plus' %}</div>
                                </div>
                            </div>
                        {%- when 'share' -%}
                            <div class="ws--product-social-share" {{ block.shopify_attributes }}>
                                <span class="ws--heading ws--h5 ws--text-light">{{ block.settings.share_label | escape }}</span>
                                {%- assign share_url = shop.url | append: product.url -%}
                                {%- assign twitter_text = product.title -%}
                                {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
                                {%- assign pinterest_image = product.featured_image | image_url: 'large' | prepend: 'https:' -%}

                                <div class="ws--product-social-share-list ws--text-light">
                                    <a class="ws--product-social-share-item" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="Facebook">{%- render 'icon' with 'facebook' -%}</a>
                                    <a class="ws--product-social-share-item" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="Twitter">{%- render 'icon' with 'twitter' -%}</a>
                                    <a class="ws--product-social-share-item" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="Pinterest">{%- render 'icon' with 'pinterest' -%}</a>
                                </div>
                            </div>
                        {%- when 'variant_picker' -%}
                            {%- unless product.has_only_default_variant -%}
                                {%- if block.settings.picker_type == 'button' -%}
                                    <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <fieldset class="js ws--product-form-input">
                                                <legend class="ws--product-form-label">{{ option.name }}</legend>
                                                {%- for value in option.values -%}
                                                    <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                                        name="{{ option.name }}"
                                                        value="{{ value | escape }}"
                                                        form="{{ product_form_id }}"
                                                        {% if option.selected_value == value %}checked{% endif %}
                                                    >
                                                    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                                    {{ value }}
                                                    </label>
                                                {%- endfor -%}
                                            </fieldset>
                                        {%- endfor -%}
                                        <script type="application/json">
                                            {{ product.variants | json }}
                                        </script>
                                    </variant-radios>
                                {%- else -%}
                                    <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <div class="ws--product-form-input ws--product-form-input-dropdown">
                                                <label class="ws--product-form-label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                                                {{ option.name }}
                                                </label>
                                                <div class="ws--product-select">
                                                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                                                        class="ws--product-select-select"
                                                        name="options[{{ option.name | escape }}]"
                                                        form="{{ product_form_id }}"
                                                    >
                                                        {%- for value in option.values -%}
                                                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                                                {{ value }}
                                                            </option>
                                                        {%- endfor -%}
                                                    </select>
                                                    {% render 'icon', icon: 'arrow-bottom' %}
                                                </div>
                                            </div>
                                        {%- endfor -%}
                    
                                        <script type="application/json">
                                        {{ product.variants | json }}
                                        </script>
                                    </variant-selects>
                                {%- endif -%}
                            {%- endunless -%}
                
                            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                                <div class="product-form__input{% if product.has_only_default_variant %} ws--hidden{% endif %}">
                                    <label class="form__label" for="Variants-{{ section.id }}">{{ 'product.form.variant_label' | t }}</label>
                                    <div class="select">
                                        <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                                        {%- for variant in product.variants -%}
                                            <option
                                            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                                            {% if variant.available == false %}disabled{% endif %}
                                            value="{{ variant.id }}"
                                            >
                                            {{ variant.title }}
                                            {%- if variant.available == false %} - {{ 'product.form.sold_out' | t }}{% endif %}
                                            - {{ variant.price | money | strip_html }}
                                            </option>
                                        {%- endfor -%}
                                        </select>
                                        {% render 'icon-caret' %}
                                    </div>
                                </div>
                            </noscript>
                        {%- when 'buy_buttons' -%}
                            <div class="ws--buy-buttons" {{ block.shopify_attributes }}>
                                <product-form class="product-form">
                                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                        </svg>
                                        <span class="product-form__error-message"></span>
                                    </div>
                
                                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                                        <div class="product-form__buttons">
                                            <button
                                                type="submit"
                                                name="add"
                                                class="ws--product-form-submit ws--btn ws--btn-full {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}ws--btn-secondary{% else %}ws--btn-primary{% endif %}"
                                                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            >
                                                <span>
                                                    {%- if product.selected_or_first_available_variant.available -%}
                                                        {{ 'product.form.add_to_cart' | t }}
                                                    {%- else -%}
                                                        {{ 'product.form.sold_out' | t }}
                                                    {%- endif -%}
                                                </span>
                                                <div class="loading-overlay__spinner ws--hidden">
                                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                    </svg>
                                                </div>
                                            </button>
                                            {%- if block.settings.show_dynamic_checkout -%}
                                                {{ form | payment_button }}
                                            {%- endif -%}
                                        </div>
                                    {%- endform -%}
                                </product-form>
                
                                {{ 'pickup-availability.css' | asset_url | stylesheet_tag }}
                
                                {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
                
                                <pickup-availability class="product__pickup-availabilities"
                                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                                data-root-url="{{ routes.root_url }}"
                                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                                data-has-only-default-variant="{{ product.has_only_default_variant }}"
                                >
                                <template>
                                    <pickup-availability-preview class="pickup-availability-preview">
                                    {% render 'icon', icon: 'unavailable' %}
                                    <div class="pickup-availability-info">
                                        <p class="caption-large">{{ 'product.form.pickup_availability.unavailable' | t }}</p>
                                        <button class="pickup-availability-button link link--text underlined-link">{{ 'product.form.pickup_availability.refresh' | t }}</button>
                                    </div>
                                    </pickup-availability-preview>
                                </template>
                                </pickup-availability>
                            </div>
                
                            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                        {%- endcase -%}
                    {%- endfor -%}
                </div>
            </div>
       </div>
    </div>
</section>

{% schema %}
{
  "name": "Product information",
  "tag": "section",
  "class": "shopify-section--bordered",
  "blocks": [
    {
        "type": "@app"
    },
    {
        "type": "text",
        "name": "Text",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "default": "Text block",
                "label": "Text"
            },
            {
                "type": "select",
                "id": "text_style",
                "options": [
                {
                    "value": "body",
                    "label": "Body"
                },
                {
                    "value": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "value": "uppercase",
                    "label": "Uppercase"
                }
                ],
                "default": "body",
                "label": "Text style"
            }
        ]
    },
    {
        "type": "title",
        "name": "Title",
        "limit": 1
    },
    {
        "type": "sku",
        "name": "Sku",
        "limit": 1
    },
    {
        "type": "price",
        "name": "Price",
        "limit": 1
    },
    {
        "type": "quantity_selector",
        "name": "Quantity Selector",
        "limit": 1
    },
    {
        "type": "variant_picker",
        "name": "Variant Picker",
        "limit": 1,
        "settings": [
            {
                "type": "select",
                "id": "picker_type",
                "options": [
                    {
                    "value": "dropdown",
                    "label": "Dropdown"
                    },
                    {
                    "value": "button",
                    "label": "Pills"
                    }
                ],
                "default": "button",
                "label": "Type"
            }
        ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)"
        }
      ]
    },
    {
        "type": "description",
        "name": "Description",
        "limit": 1
    },
    {
        "type": "share",
        "name": "Share",
        "limit": 1,
        "settings": [
            {
            "type": "text",
            "id": "share_label",
            "label": "Text",
            "default": "Share"
            },
            {
            "type": "paragraph",
            "content": "If you include a link in social media posts, the page's featured image will be shown as the preview image. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/images\/showing-social-media-thumbnail-images)."
            },
            {
            "type": "paragraph",
            "content": "A store title and description are included with the preview image. [Learn more](https:\/\/help.shopify.com\/manual\/promoting-marketing\/seo\/adding-keywords#set-a-title-and-description-for-your-online-store)."
            }
        ]
    },
    {
        "type": "custom_liquid",
        "name": "Custom liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom liquid",
            "info": "Add app snippets or other Liquid code to create advanced customizations."
          }
        ]
    },
    {
        "type": "collapsible_tab",
        "name": "Collapsible row",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "default": "Collapsible row",
                "info": "Include a heading that explains the content.",
                "label": "Heading"
            },
            {
                "type": "select",
                "id": "icon",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "apple",
                        "label": "Apple"
                    },
                    {
                        "value": "banana",
                        "label": "Banana"
                    },
                    {
                        "value": "bottle",
                        "label": "Bottle"
                    },
                    {
                        "value": "box",
                        "label": "Box"
                    },
                    {
                        "value": "carrot",
                        "label": "Carrot"
                    },
                    {
                        "value": "chat_bubble",
                        "label": "Chat bubble"
                    },
                    {
                        "value": "check_mark",
                        "label": "Check mark"
                    },
                    {
                        "value": "clipboard",
                        "label": "Clipboard"
                    },
                    {
                        "value": "dairy",
                        "label": "Dairy"
                    },
                    {
                        "value": "dairy_free",
                        "label": "Dairy free"
                    },
                    {
                        "value": "dryer",
                        "label": "Dryer"
                    },
                    {
                        "value": "eye",
                        "label": "Eye"
                    },
                    {
                        "value": "fire",
                        "label": "Fire"
                    },
                    {
                        "value": "gluten_free",
                        "label": "Gluten free"
                    },
                    {
                        "value": "heart",
                        "label": "Heart"
                    },
                    {
                        "value": "iron",
                        "label": "Iron"
                    },
                    {
                        "value": "leaf",
                        "label": "Leaf"
                    },
                    {
                        "value": "leather",
                        "label": "Leather"
                    },
                    {
                        "value": "lightning_bolt",
                        "label": "Lightning bolt"
                    },
                    {
                        "value": "lipstick",
                        "label": "Lipstick"
                    },
                    {
                        "value": "lock",
                        "label": "Lock"
                    },
                    {
                        "value": "map_pin",
                        "label": "Map pin"
                    },
                    {
                        "value": "nut_free",
                        "label": "Nut free"
                    },
                    {
                        "value": "pants",
                        "label": "Pants"
                    },
                    {
                        "value": "paw_print",
                        "label": "Paw print"
                    },
                    {
                        "value": "pepper",
                        "label": "Pepper"
                    },
                    {
                        "value": "perfume",
                        "label": "Perfume"
                    },
                    {
                        "value": "plane",
                        "label": "Plane"
                    },
                    {
                        "value": "plant",
                        "label": "Plant"
                    },
                    {
                        "value": "price_tag",
                        "label": "Price tag"
                    },
                    {
                        "value": "question_mark",
                        "label": "Question mark"
                    },
                    {
                        "value": "recycle",
                        "label": "Recycle"
                    },
                    {
                        "value": "return",
                        "label": "Return"
                    },
                    {
                        "value": "ruler",
                        "label": "Ruler"
                    },
                    {
                        "value": "serving_dish",
                        "label": "Serving dish"
                    },
                    {
                        "value": "shirt",
                        "label": "Shirt"
                    },
                    {
                        "value": "shoe",
                        "label": "Shoe"
                    },
                    {
                        "value": "silhouette",
                        "label": "Silhouette"
                    },
                    {
                        "value": "snowflake",
                        "label": "Snowflake"
                    },
                    {
                        "value": "star",
                        "label": "Star"
                    },
                    {
                        "value": "stopwatch",
                        "label": "Stopwatch"
                    },
                    {
                        "value": "truck",
                        "label": "Truck"
                    },
                    {
                        "value": "washing",
                        "label": "Washing"
                    }
                ],
                "default": "check_mark",
                "label": "Icon"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Row content"
            },
            {
                "type": "page",
                "id": "page",
                "label": "Row content from page"
            }
        ]
    },
    {
        "type": "rating",
        "name": "Product rating",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To display a rating, add a product rating app. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/themes\/theme-structure\/page-types#product-rating-block)"
          }
        ]
    }
  ],
  "settings": [
        {
            "type": "checkbox",
            "id": "enable_sticky",
            "label": "Enable sticky content on desktop",
            "default": true
        },
        {
            "type": "header",
            "content": "Media"
        },
        {
            "type": "paragraph",
            "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
        },
        {
            "type": "select",
            "id": "image_layout",
            "label": "Media layout",
            "options": [
            {
                "value": "stacked",
                "label": "Stacked"
            },
            {
                "value": "carousel",
                "label": "Thumbnail carousel"
            }
            ],
            "default": "stacked"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Media size",
            "options": [
            {
                "value": "small",
                "label": "Small"
            },
            {
                "value": "medium",
                "label": "Medium"
            },
            {
                "value": "large",
                "label": "Large"
            },
            {
                "value": "fill",
                "label": "Fill screen"
            }
            ],
            "default": "large"
        },
        {
            "type": "checkbox",
            "id": "show_thumbnails",
            "label": "Show thumbnails on desktop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_image_zoom",
            "label": "Enable zoom",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_video_looping",
            "label": "Enable video looping",
            "default": false
        }
  ]
}
{% endschema %}