<script src="{{ 'customers.js' | asset_url }}" defer></script>


{%- capture newAddressModal -%}
    {% comment %} add new address modal start {% endcomment %}
    <div class="modal fade custom-modal" id="newAddressModal" tabindex="-1" aria-labelledby="newAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header justify-content-end border-0">
                    <button type="button" class="border-0" data-bs-dismiss="modal" aria-label="Close">{%- render 'icon' with 'close' -%}</button>
                </div>
                <div class="modal-body">
                    <div class="ws--newAddress-form ws--allForm-css">
                        <div class=" ws--section-heading text-center ws--allForm-heading">
                            <h2 class="ws--h2 ws--heading">{{ 'customer.addresses.add_address' | t }}</h2>
                            <p class="ws--text mt-5">{{ 'customer.addresses.form_subtitle' | t }}</p>
                        </div>
                        {% form 'customer_address', customer.new_address, class: 'ws--form' %}
                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" autofocus>
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}" autofocus>
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}">
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}">
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}">
                            </div>

                            <div class="ws--form-item">
                                <input type="text" class="form-control" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}">
                            </div>
                            
                            <div class="d-sm-flex justify-content-between gap-2">
                                <div class="ws--form-item">
                                    <select 
                                        id="AddressCountryNew" 
                                        name="address[country]" 
                                        title="{{ 'customer.addresses.country' | t }}" 
                                        class="form-select form-control"
                                    >
                                        {{ all_country_option_tags }}
                                    </select>
                                </div>
                                <div class="ws--form-item">
                                    <input type="text" class="form-control" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}">
                                </div>
                            </div>

                            <div id="AddressProvinceContainerNew" class="ws--form-item" style="display: none">
                                <select 
                                    id="AddressProvinceNew" 
                                    class="form-select form-control" 
                                    name="address[province]" 
                                    title="{{ 'customer.addresses.province' | t }}" 
                                    data-default="{{ form.province }}"
                                ></select>
                            </div>
                            
                            <div class="d-flex gap-2 mb-5">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                            </div>

                            <div class="new-address-add-btn common-btn">
                                <button type="submit" class="ws--btn ws--btn-primary ws--btn-full">{{ 'customer.addresses.add_address' | t }}</button>                
                            </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} add new address modal end {% endcomment %}
{%- endcapture -%}

<div class="ws--container ws--container-narrow ws--address-page" data-customer-addresses>
    <div class="ws--myAddress-page-title py-10">
        <div class="row">
            <div class="col">
              <!-- PAGE TITLE -->
              <div class="ws--userPage-title">
                <div class="user-page-btn">
                    <a href="{{ routes.account_url }}" class="page-back ws--link ws--link-seconday ws--heading ws--h7">
                        {% render 'icon' with 'select-arrow-left' %} {{ 'customer.account.back_to_account' | t }}
                    </a>
                </div>
                <div class="user-page-title">
                    <h2 class="ws--heading ws--h1">{{ 'customer.addresses.title' | t }}</h2>

                    {%- if customer.addresses_count == 2 -%}
                        <p class="ws--text">{{ 'customer.addresses.empty' | t }}</p>
                    {%- endif -%}

                    <div class="new-addressAdd-btn common-btn" data-address>
                        <button type="submit"  class="ws--btn ws--btn-primary" data-bs-toggle="modal" data-bs-target="#newAddressModal">{{ 'customer.addresses.add_address' | t }}</button>
                        {{ newAddressModal }}
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    {%- if customer.addresses_count > 0 -%}
        {%- paginate customer.addresses by 9 -%}
            <div class="ws--addressPage-section pb-12">
                <div class="row">
                    {%- for address in customer.addresses -%}
                        <div class="col-md-4 mb-10">
                            <div class="card h-100">
                                <div class="card-header">
                                    {%- if address == customer.default_address -%}
                                        <h2 class="ws--heading ws--h6 p-3">{{ 'customer.addresses.default_address_label' | t }}</h2>
                                    {%- else -%}
                                        {%- assign position = paginate.current_page | times: forloop.index -%}
                                        <h2 class="ws--heading ws--h6 p-3">{{ 'customer.addresses.address_label' | t: position: position }}</h2>
                                    {%- endif -%}
                                </div>
                                <div class="card-body">
                                    {{ address | format_address | replace: '<p>', '<p class="ws--holderName p-4"><span>' | replace_first: '<br>', '</span><br>' }}
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex gap-5 p-2">
                                        <button 
                                            class="address-action-item ws--link ws--link-underline" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#editAddressModal-{{ address.id }}"
                                        >{{ 'customer.addresses.edit' | t }}</button>
                                        <button 
                                            class="address-action-item ws--link ws--link-underline" 
                                            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                                            data-target="{{ address.url }}"
                                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                                        >{{ 'customer.addresses.delete' | t }}</button>
                                    </div>
                                    {% comment %}EDIT ADDRESSES MODAL START{% endcomment %}
                                    <div class="modal fade custom-modal" id="editAddressModal-{{ address.id }}" tabindex="-1" aria-labelledby="editAddressModalLabel-{{ address.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header justify-content-end border-0">
                                                    <button type="button" class="border-0" data-bs-dismiss="modal" aria-label="Close">{%- render 'icon' with 'close' -%}</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="ws--newAddress-form ws--allForm-css" id="EditAddress_{{ address.id }}">
                                                        <div class=" ws--section-heading text-center ws--allForm-heading">
                                                            <h2 class="ws--h2 ws--heading">{{ 'customer.addresses.edit_address' | t }}</h2>
                                                            <p class="ws--text mt-5">{{ 'customer.addresses.form_subtitle' | t }}</p>
                                                        </div>
                                                        {% form 'customer_address', address, class: 'ws--form' %}
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" autofocus>
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}" autofocus>
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}">
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}">
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}">
                                                            </div>
                                    
                                                            <div class="ws--form-item">
                                                                <input type="text" class="form-control" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}">
                                                            </div>
                                                            
                                                            <div class="d-sm-flex justify-content-between gap-2">
                                                                <div class="ws--form-item">
                                                                    <select 
                                                                        id="AddressCountry_{{ form.id }}"
                                                                        name="address[country]"
                                                                        class="form-select form-control"
                                                                        data-address-country-select
                                                                        data-default="{{ form.country }}"
                                                                        data-form-id="{{ form.id }}"
                                                                        autocomplete="country"
                                                                    >
                                                                        {{ all_country_option_tags }}
                                                                    </select>
                                                                </div>
                                                                <div class="ws--form-item">
                                                                    <input type="text" class="form-control" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}">
                                                                </div>
                                                            </div>
                                    
                                                            <div id="AddressProvinceContainer_{{ form.id }}" class="ws--form-item" style="display: none">
                                                                <select 
                                                                    id="AddressProvince_{{ form.id }}"
                                                                    class="form-select form-control" 
                                                                    name="address[province]" 
                                                                    title="{{ 'customer.addresses.province' | t }}" 
                                                                    data-default="{{ form.province }}"
                                                                ></select>
                                                            </div>
                                                            
                                                            <div class="d-flex gap-2 mb-5">
                                                                {{ form.set_as_default_checkbox }}
                                                                <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                                                            </div>
                                    
                                                            <div class="new-address-add-btn common-btn">
                                                                <button type="submit" class="ws--btn ws--btn-primary ws--btn-full">{{ 'customer.addresses.add_address' | t }}</button>                
                                                            </div>
                                                        {% endform %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %}EDIT ADDRESSES MODAL END{% endcomment %}
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>

            {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
    {%- endif -%}
</div>

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>
