<section data-section-id="login" data-section-type="login">
    <div class="container">
        <!-- ws--loginfrom-section-start ==========================-->
        <div  class="ws--page-content ws--page-content-fit-screen ws--page-content-extra-narrow">
            {%- assign is_recover_active = false -%}

            {%- form 'recover_customer_password' -%}
              {%- if form.errors or form.posted_successfully? -%}
                {%- assign is_recover_active = true -%}
              {%- endif -%}
            {%- endform -%}
      
            {%- comment -%}
            --------------------------------------------------------------------------------------------------------------------
            CUSTOMER LOGIN FORM - START
            --------------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}
      
            {%- if is_recover_active -%}
              {%- assign login_default_visibility = 'display: none' -%}
            {%- else -%}
              {%- assign login_default_visibility = 'display: block' -%}
            {%- endif -%}
            {%- form 'customer_login', name: 'login', class: 'ws--form', id: 'customer_login', style: login_default_visibility -%}
                <div class=" ws--form-heading text-center mb-6">
                  <h2 class="ws--h1 ws--heading">{{ 'customer.login.title' | t }}</h2>
                  <p  class="ws--text mt-3">{{ 'customer.login.description' | t }}</p>
                </div>
                {% if form.errors %}
                  <div class="alert alert-danger d-flex align-items-center" role="alert">
                    {{- form.errors.messages['form'] -}}
                  </div>
                {% endif %}
                <div class="ws--form-item">
                    <input type="email" name="customer[email]" class="form-control" placeholder="{{ 'customer.login.email' | t }}" required autofocus>
                </div>
                <div class="ws--form-item ws--postion-relative">
                    <input type="password" name="customer[password]" class="form-control" placeholder="{{ 'customer.login.password' | t }}" required>
                    <button type="button" class="ws--form-item-absolute ws--link ws--link-primary" data-action="toggle-recover-form">{{ 'customer.login.forgot' | t }}</button>
                </div>
                <div class="ws--login-btn">  
                  <button type="submit" class="ws--btn ws--btn-primary ws--btn-full">{{ 'customer.login.submit' | t }}</button>
                </div>
                <div class="ws--form-footer text-center my-6">
                  <span>{{ 'customer.login.register_label' | t }}</span> <a href="{{ routes.account_register_url }}" class="ws--link ws--link-primary">{{ 'customer.login.register_link' | t }}</a>
                </div>
            {%- endform -%}

            {%- comment -%}
            --------------------------------------------------------------------------------------------------------------------
            PASSWORD RECOVER FORM - START
            --------------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}
            {%- if is_recover_active -%}
              {%- assign recover_default_visibility = 'display: block' -%}
            {%- else -%}
              {%- assign recover_default_visibility = 'display: none' -%}
            {%- endif -%}

            {%- form 'recover_customer_password', name: 'recover', class: 'ws--form', id: 'recover_customer_password', style: recover_default_visibility -%}
              <div class=" ws--form-heading text-center mb-6">
                <h2 class="ws--h1 ws--heading">{{ 'customer.recover_password.title' | t }}</h2>
                <p  class="ws--text mt-3">{{ 'customer.recover_password.description' | t }}</p>
              </div>
              {%- if form.posted_successfully? -%}
                <div class="alert alert-success d-flex align-items-center" role="alert">
                  {{- 'customer.recover_password.success' | t -}}
                </div>
              {%- endif -%}
              <div class="ws--form-item">
                <input type="email" name="email" class="form-control {% if form.errors contains 'email' %}is-invalid{% endif %}" placeholder="{{ 'customer.recover_password.email' | t }}" required autofocus>
                {% if form.errors contains 'email' %}
                  <div class="invalid-feedback">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </div>
                {% endif %}
              </div>
            <div class="ws--res-pass-btn">  
                <button type="submit" class="ws--btn ws--btn-primary ws--btn-full">{{ 'customer.recover_password.submit' | t }}</button>
            </div>
            <div class="ws--form-footer text-center my-6">
              <span>{{ 'customer.recover_password.login_label' | t }}</span> <button type="button" class="ws--link ws--link-primary" data-action="toggle-recover-form">{{ 'customer.recover_password.login_link' | t }}</button>
            </div>
            {%- endform -%}
        </div>
    </div>
</section>