<div class="ws--container ws--container-narrow {% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div class="ws--cart-footer">
    <cart-note class="ws--cart-note ws--input-item">
      <label for="ws--input-item-label">{{ 'cart.general.add_note' | t }}</label>
      <textarea class="form-control" name="note" form="cart" rows="4" id="Cart-note" placeholder="{{ 'cart.general.note_placeholder' | t }}">{{ cart.note }}</textarea>
    </cart-note>
    <div class="ws--cart-blocks">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'subtotal' -%}
            <div class="js-contents" {{ block.shopify_attributes }}>
              <div class="ws--cart-totals mb-3">
                <h2 class="ws--heading ws--h4">{{ 'cart.general.total' | t }}: {{ cart.total_price | money_with_currency }}</h2>
              </div>

              {%- if cart.cart_level_discount_applications != blank -%}
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <p class="cart-discount ws--heading ws--h5">{{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span></p>
                {%- endfor -%}
              {%- endif -%}

              {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}
                            
              {%- if shipping_and_taxes_notice != blank -%}
                  <p class="cart-taxes ws--text-light">{{ shipping_and_taxes_notice }}</p>
              {%- endif -%}
            </div>
          {%- else -%}
            <div class="cart-cta pt-4" {{ block.shopify_attributes }}>
              <noscript>
                  <button type="submit" class="cart-update-button ws--btn ws--btn-primary" form="cart">
                      {{ 'cart.general.checkout' | t }}
                  </button>
              </noscript>

              <button type="submit" id="checkout" class="cart-update-button ws--btn ws--btn-primary" name="checkout" form="cart">
                  {{ 'cart.general.checkout' | t }}
              </button>
            </div>
            {%- if additional_checkout_buttons -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons pt-4">
                  {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {% endfor %}
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% comment %} let formData = {
            'items': [{
             'id': 43045423251672,
             'quantity': 2
             }]
           };
           fetch(window.Shopify.routes.root + 'cart/add.js', {
             method: 'POST',
             headers: {
               'Content-Type': 'application/json'
             },
             body: JSON.stringify(formData)
           })
           .then(response => {
             console.log(response.json());
           })
           .catch((error) => {
             console.error('Error:', error);
           }); {% endcomment %}

      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');
  
        return (msie > 0 || trident > 0);
      }
  
      if (!isIE()) return;
      const cartSubmitInput = document.createElement('input');
      cartSubmitInput.setAttribute('name', 'checkout');
      cartSubmitInput.setAttribute('type', 'hidden');
      document.querySelector('#cart').appendChild(cartSubmitInput);
      document.querySelector('#checkout').addEventListener('click', function(event) {
        document.querySelector('#cart').submit();
      });
    });
</script>

{% schema %}
{
  "name": "Subtotal",
  "class": "cart__footer-wrapper",
  "blocks": [
    {
      "type": "subtotal",
      "name": "Subtotal price",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "Checkout button",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}